

.KatMenu{
    position: absolute;
  display:flex;
  flex-direction: column;
  background-color:rgb(103, 231, 182);
  width:8em;
}
.KatMenu ul li{
    list-style-type:none;
}
.KatMenu ul li:hover{
    background: #196f7a;
    width:100%;
    padding-left:0em;
}
ul{
    padding: 0;
    list-style-type: none;
}
.container{
    margin-left:15em;
}
.kat-container{
    padding-left: 10em;

}
#katName{
    font-size: 3rem;
}